* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hydra-canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#mainContainer {
  width: 100%;
}

#childContainer {
  width: 100%;
  /* width: 80%; */
}

.videoContainerJuanMain {
  top: 100px;
  padding: 0;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
}

.videoContainerJuanMain iframe {
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.videoContainerIsaacMain {
  top: 100px;
  padding: 0;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
}

.videoContainerIsaacMain iframe {
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.videoContainerJuanExtra {
  top: 100px;
  padding: 0;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
}

.videoContainerJuanExtra iframe {
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.videoContainerIsaacExtra {
  top: 100px;
  padding: 0;
  height: 300px;
  width: 300px;
  position: relative;
  overflow: hidden;
}

.videoContainerIsaacExtra iframe {
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

#juanextra {
  right: 80%;
  /* visibility: hidden; */
}

#isaacextra {
  left: 80%;
  /* visibility: hidden; */
}
